<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Base de données des doctorats Honoris Causa en France">
    <meta property="og:type" content="website">
    <link rel="icon" href="{{ asset("favicon.svg") }}">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css"
    />
    <title>{% block title %}Doctorats Honoris Causa de France !{% endblock %}</title>
    <style>
        header > h1 {
            text-align: center;
            border: 1px solid black;
            border-radius: 0.4em;
            margin:0;
        }

        header > h1 > a > img {
            height: 1em;
            margin-right: 0.4em;
        }

        header > h1 > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            padding: 0.3em;
        }

        header > h1 > a:hover {
            text-decoration: underline;
        }

        .alert {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }

        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }

        .sortable thead th:not(.no-sort) {
            cursor: pointer;
        }
        .sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort)::before {
            transition: color 0.1s ease-in-out;
            font-size: 1.2em;
            color: transparent;
        }
        .sortable thead th:not(.no-sort)::after {
            margin-left: 3px;
            content: "⇅";
        }
        .sortable thead th:not(.no-sort):hover::after {
            color: inherit;
        }
        .sortable thead th:not(.no-sort)[aria-sort=descending]::after {
            color: inherit;
            content: "↑";
        }
        .sortable thead th:not(.no-sort)[aria-sort=ascending]::after {
            color: inherit;
            content: "↓";
        }

        .sortable {
            --stripe-color: #e4e4e4;
            --th-color: #fff;
            --th-bg: #808080;
            --td-color: #000;
            --td-on-stripe-color: #000;
            border-spacing: 0;
        }

        #about {
            text-align:right;
            padding:0;
            margin:0;
            font-size:0.8em;
            padding-bottom:0.3em;
        }

        #about a {
            text-decoration: none;
        }

        #about a:hover {
            text-decoration: underline;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    <p id="about"><a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Honoris_Causa_France/site_web">À propos</a></p>
    <h1><a href="{{ url("app_index") }}"><img alt="icône couvre-chef doctorant.e" src="{{ asset("favicon.svg") }}"/>Doctorats honoris Causa en France</a>
    </h1>
</header>
<main>
    {% if app.flashes is defined %}
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message|raw }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% block body %}{% endblock %}
</main>
</body>

{% block javascripts %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>

</html>