{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        img.wd-logo {
            height: 1em;
            margin-left:0.5em;
        }
    </style>
{% endblock %}
{% block body %}
    <h2>{{ person.label }} - {{ person.awards|length }} doctorat{% if person.awards|length > 1 %}s{% endif %}<a
                href="https://www.wikidata.org/wiki/{{ person.qid }}"><img alt="logo wikidata" class="wd-logo" src="{{ asset("wikidata-logo.svg") }}"/></a></h2>
    <ul>
        {% for award in person.awards %}
            <li>
                {% if award.displayDate is not null %}
                    {{ award.displayDate | date("Y") }}
                {% else %}
                    [date inconnue]
                {% endif %}
                :
                {% if award.doctorate.university is not null %}
                    <a href="{{ url("app_university", {qid: award.doctorate.university.qid, slug:award.doctorate.university.label|slug }) }}">{{ award.doctorate.university.label }}</a>
                {% else %}
                    <i>Erreur de chargement</i>({{ award.doctorate.label }} - {{ award.doctorate.id }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}